<div class="wrapper">
  <div class="row">
    <div class="large-8 large-offset-2 columns">
      <div class="panel text-center">
        <h1>Welcome!</h1><br>
        <h2><a ng-click="seeFailures()">Chicago Health Inspection Failures</a></h2>
      </div>
    </div>
  </div>
  <div class="small-12 columns about">
    <div class="row about-box">
      <p>
        The City of Chicago is home to many lovely restaurants. However, many times restaurants that provide food that tastes great aren't so great behind the scenes. The purpose of this site is to provide diners with information about what's really going on behind the counter so you are well aware the next time you decide to hit the town for a nice meal.
      </p>
      <div class="button-holder">
        <button class="more" ng-click="seeFailures()"> See More </button>
      </div>
    </div>
  </div>
</div>