<div class="row">
  <div class="small-12 columns">
    <div class="panel">
      <h1 class="text-center">Inspection Failures</h1>
      <a ng-click="showAll()">Most Recent Failures</a><br>
      <a ng-click="searchZip()">Search by Zip Code</a><br>
      <a ng-click="searchDate()">Search by Date</a>
    </div>
  </div>
</div>
<div class="row" ng-show="searchFailure">
  <div class="small-12 columns">
    <table>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th># of Violations</th>
      </tr>
      <tr ng-repeat="restaurant in singleFailure">
        <td>{{restaurant.dba_name}}</td>
        <td>{{restaurant.address}}</td>
        <td><a ng-click="showRestaurant(restaurant)">{{restaurant.violations.length}}</a></td>
      </tr>
    </table>
  </div>
</div>
<div class="row" ng-show="searchSingle">
  <div class="small-12 columns">
    <p>{{singleRestaurant.dba_name}}<br>
    {{singleRestaurant.address}}, {{singleRestaurant.city}}, {{singleRestaurant.state}}  {{singleRestaurant.zip}}<br>
    Inspection Date: {{singleRestaurant.inspection_date.slice(0,10)}}<br>
    <p>Violations:</p>
    <div ng-repeat="violation in singleViolations">
      <p>{{violation}}</p>
    </div>
    </p>
  </div>
</div>
<div class="row" ng-show="zipForm">
  <form>
    Zip Code: <input type="text" ng-model="zip"/>
    <input type="submit" ng-click="submit(zip)">
  </form>
</div>
<div class="row" ng-show="dateForm">
  <form>
    Date: <input type="date" ng-model="date"/>
    <input type="submit" ng-click="submit(date)">
  </form>
</div>